<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.sto_was.mapper.TestMapper">

    <select id="selectFepStatInfoASIS">
        SELECT * FROM STO_TBM_FEP_STAT_INFO
    </select>

    <select id="selectFepStatInfoTOBE">
        SELECT * FROM STO_TBM_FEP_STAT_INFO
    </select>

</mapper>
